body{
background:#276CF5;
font-family:Arial;
text-align:center;
margin:0;
}

.contenedor{
padding:30px;
}

h1{
color:#d63384;
}

img{
width:300px;
border-radius:15px;
box-shadow:0px 0px 15px gray;
}

button{

background:#ff4081;

color:white;

padding:15px;

font-size:18px;

border:none;

border-radius:10px;

cursor:pointer;

}

button:hover{

background:#e91e63;

}

#mensaje{

display:none;

margin-top:20px;

}

.emojis{

font-size:40px;

margin-top:20px;

}

@keyframes aparecer{

from{

opacity:0;

transform:scale(0.5);

}

to{

opacity:1;

transform:scale(1);

}

}